

@media (min-width: 568px) {
    .main .hero {
        height: 100%;
        width: 100%;
        background-image: url(./images/image-hero-desktop.png);
    }

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: row-reverse;
        padding: 0 ;
    }

    .main section.content{
        max-width: 280px;
    }

}

@media (min-width: 768px) {
    .main{
        padding: 0 25px;
       
    }

    .main section.content{
        max-width: 350px;
    }

    .header{
        padding: 21px 40px;
    }

    .header .header__logo{
        margin-right: 64px;
        margin-top: 4px;
        margin-left: 1px;
        letter-spacing: 1px;
    }

    .header .header__nav{
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--almost-white);
        position: static;
        padding: 0;
        z-index: 2;
        right: 0px;
        color: var(--medium-grey);
        box-shadow: none;
        margin-top: 0;
    }
    
    .header__nav-item.nav-features, .header__nav-item.nav-company{
        position: relative;
    }
    
    .header__nav-item.nav-features ul,  .header__nav-item.nav-company ul{
        position: absolute;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
        padding: 24px;
    }

    .header__nav-item.nav-features ul{
        right: 0;
    }

    .header__nav-item.nav-company ul{
        left: 0;
    }

    .header__nav-item.nav-company ul li{
        width: 100%;
        white-space: nowrap;
    }


    .header__nav{
        display: flex;
        justify-content: space-between;
    }

    .header__nav-list.btn-group{
        margin: 0;
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    .header .header__close, .header .header__open{
        display: none;
    }

    .header__icon{
        display: none;
    }

    .header__nav-list.btn-group .header__nav-item{
        margin: 0;
       padding: 0;
    }

    .header__nav-list.btn-group .header__nav-item.register{
        padding: 13px 22px;
    }

    .header .header__nav-item{
        font-size: 14px;
    }

    .header__nav-list.nav__container{
        flex-direction: row;
        column-gap: 40px;
    }
    

}

@media (min-width: 1080px) {
    .main{
        column-gap: 92px;
    }
    .main section{
        max-width: 500px;
    }

    .main .content .content__title{
        font-size: 80px;
        font-weight: 700;
        font-style: normal;
        line-height: 80px;
        
    }

    .main .content .content__description{
        max-width: 445px;
        font-size: 18px;
    }

    .main section.content{
        max-width: 540px;
        text-align: left;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 45px;
        margin-bottom: 62px;
        margin-left: 32px;
    }

    .main .content .content__button{
        margin: 0;
        border-radius: 15px;
        padding: 20px 31px;
        font-size: 18px;
    }
    .main section.hero{
        max-width: 480px;
        background-size: contain;
        display: flex;
        background-position: center;
    }
    .main{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 100%;
        padding: 0 75px;
    }
    .footer{
        margin-top: 65px;
    }
}