/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* Root */
:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-grey: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

/* Global CSS/ CSS RESET */
*{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100vh;
}

ul li{
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}

.header .header__logo{
    font-size: 32px;
    font-weight: bold;
}

.header .header__nav{
    height: 100vh;
    display: none;
    background-color: var(--almost-white);
    position: absolute;
    z-index: 2;
    margin-top: -20px;
    padding: 25px;
    right: 0px;
    color: var(--medium-grey);
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.7);
}

.header .header__close{
    display: flex;
    justify-content: flex-end;
}

.header__nav-list.nav__container{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.header__nav-list .header__nav-item.nav-features span.up, .header__nav-list .header__nav-item.nav-company span.up{
    content: url(./images/icon-arrow-up.svg);

}
.header__nav-list .header__nav-item.nav-features span.down, .header__nav-list .header__nav-item.nav-company span.down{
    content: url(./images/icon-arrow-down.svg);
}

.header__nav-list .header__nav-item ul{
    margin-top: 28px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.header__nav-list .header__nav-item ul li{
    display: flex;
    gap: 14px;
}

.header__nav-list .header__nav-item ul li img{
    width: 18px;
}

.header__nav-list .header__nav-item.nav-features.hidden ul{
    display: none;
}

.header__nav-list .header__nav-item.nav-company.hidden ul{
    display: none;
}

.header__nav-list.btn-group{
    margin: 10px 0;
}

.header__nav-list.btn-group .header__nav-item{
    border: 1px solid var(--almost-black);
    border-radius: 12px;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
}

.header__nav-list.btn-group .header__nav-item:first-child{
    border: none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main .hero {
    background-image: url(./images/image-hero-mobile.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main section{
    max-width: 568px;
}

.main .content{
    padding: 15px;
    text-align: center;
}

.main .content .content__title{
    font-size: 34px;
    font-weight: bold;
    margin: 30px 0;
}

.main .content .content__description{
    font-size: 16px;
    line-height: 2;
}

.main .content .content__button{
    background-color: var(--almost-black);
    color: var(--almost-white);
    border: none;
    border-radius: 13px;
    padding: 12px 20px;
    font-size: 16px;
    margin: 25px 0;
}

.footer{
    padding: 0 12px;
    width: 100%;
    overflow: hidden;
}

.footer .footer__client-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slider 5s linear infinite;
}

.footer .footer__client-list .footer__client-logo{
    width: 65px;
   
}


@keyframes slider {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
  }
  